# DATABASE
DB_TYPE=postgres
DB_HOST= localhost #192.168.6.114
DB_PORT= 5433 #5434
DB_USERNAME=HolaMundo
DB_PASSWORD=Admin123*
DB_NAME=justicia_local

# ZOOM CREDENTIALS
ZOOM_APP_ACCOUNT_ID=
ZOOM_APP_CLIEND_ID=
ZOOM_APP_CLIENT_SECRET=
ZOOM_APP_TOKEN=